<!DOCTYPE html>
<html lang="en">
<head>
        <title>Calculator</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'calculator/style.css' % }">
</head>
<body>
    <div class="calculator">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="expression" value=""{{expression}} readonly><br>
            <div class="buttons">
                {% for row in layout %}
                    <div class="row">
                        {% for button in row %}
                        <button  type="submit" name="btn" value="{{button}}">{{button}}</button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>   
</body>
</html>